<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="AdminChangeFolderDlg" Value="1"/>
    <UI>
      <Dialog Id="AdminChangeFolder" Width="374" Height="266" Title="!(loc.ProductNameInstallationWizard)">
        <Control Id="Tail" Type="PathEdit" X="21" Y="207" Width="332" Height="17" Property="TARGETDIR"/>
        <Control Id="OK" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="!(loc.OK)" Default="yes">
          <Publish Event="EndDialog" Value="Return" Order="0"/>
          <Publish Event="SetTargetPath" Value="TARGETDIR" Order="1"/>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="!(loc.Cancel)" Cancel="yes">
          <Publish Event="Reset" Value="0" Order="1"/>
          <Publish Event="EndDialog" Value="Return" Order="2"/>
        </Control>
        <Control Id="ComboText" Type="Text" X="21" Y="50" Width="99" Height="14" Text="!(loc.IsAdminInstallBrowse_LookIn)"/>
        <Control Id="Combo" Type="DirectoryCombo" X="21" Y="64" Width="277" Height="80" Property="TARGETDIR"/>
        <Control Id="Up" Type="PushButton" X="310" Y="66" Width="19" Height="19" Text="folderup_ico">
          <Publish Event="DirectoryListUp" Value="0"/>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="335" Y="66" Width="19" Height="19" Text="folderadd_ico">
          <Publish Event="DirectoryListNew" Value="0"/>
        </Control>
        <Control Id="List" Type="DirectoryList" X="21" Y="90" Width="332" Height="97" Property="TARGETDIR"/>
        <Control Id="TailText" Type="Text" X="21" Y="193" Width="99" Height="13" Text="!(loc.IsAdminInstallBrowse_FolderName)"/>
        <Control Id="Banner" Type="Bitmap" X="0" Y="0" Width="374" Height="44" Text="banner_bmp"/>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0"/>
        <Control Id="DlgDesc" Type="Text" X="21" Y="23" Width="292" Height="25" Text="!(loc.IsAdminInstallBrowse_BrowseDestination)"/>
        <Control Id="DlgLine" Type="Line" X="48" Y="234" Width="326" Height="0"/>
        <Control Id="DlgTitle" Type="Text" X="13" Y="6" Width="292" Height="25" Text="!(loc.IsAdminInstallBrowse_ChangeDestination)"/>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
