<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="SetupInterruptedDlg" Value="1"/>
    <UI>
      <Dialog Id="SetupInterrupted" Width="374" Height="266" Title="!(loc.ProductNameInstallationWizard)">
        <Control Id="Finish" Type="PushButton" X="230" Y="243" Width="66" Height="17" Text="!(loc.Finish)" Default="yes" Cancel="yes"
                 DefaultCondition="NOT UpdateStarted">
          <Publish Event="EndDialog" Value="Exit" Order="1" Condition="2"/>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Text="!(loc.Cancel)"
                 DisableCondition="NOT UpdateStarted" EnableCondition="UpdateStarted">
          <Publish Event="EndDialog" Value="Exit" Order="1" Condition="2"/>
          <Publish Event="[Suspend]" Value="1" Order="1" Condition="1"/>
        </Control>
        <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="!(loc.Back)"
                 DefaultCondition="UpdateStarted" DisableCondition="NOT UpdateStarted" EnableCondition="UpdateStarted">
          <Publish Event="EndDialog" Value="Exit" Order="1" Condition="2"/>
          <Publish Event="[Suspend]" Value="{}" Order="1" Condition="1"/>
        </Control>
        <Control Id="DlgLine" Type="Line" X="0" Y="234" Width="374" Height="0"/>
        <Control Id="FinishText1" Type="Text" X="135" Y="80" Width="228" Height="50" Text="!(loc.IsUserExit_NotModified)"
                 HideCondition="UpdateStarted" ShowCondition="NOT UpdateStarted"/>
        <Control Id="FinishText2" Type="Text" X="135" Y="135" Width="228" Height="25" Text="!(loc.ClickFinish)"
                 HideCondition="UpdateStarted" ShowCondition="NOT UpdateStarted"/>
        <Control Id="Image" Type="Bitmap" X="0" Y="0" Width="374" Height="234" Text="dialogbitmap_bmp"/>
        <Control Id="RestContText1" Type="Text" X="135" Y="80" Width="228" Height="50" Text="!(loc.KeepOrRestore)"
                 HideCondition="NOT UpdateStarted" ShowCondition="UpdateStarted"/>
        <Control Id="RestContText2" Type="Text" X="135" Y="135" Width="228" Height="25" Text="!(loc.RestoreOrContinueLater)"
                 HideCondition="NOT UpdateStarted" ShowCondition="UpdateStarted"/>
        <Control Id="TextLine1" Type="Text" X="135" Y="8" Width="225" Height="45" Text="!(loc.WizardCompleted)"/>
        <Control Id="TextLine2" Type="Text" X="135" Y="55" Width="228" Height="25" Text="!(loc.WizardInterrupted)"/>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
