<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="CustomActions" Value="1"/>
    
    <CustomAction Id="CALaunchBOINCManager" BinaryRef="boinccas_dll" DllEntry="LaunchBOINCManager"/>
    <CustomAction Id="CALaunchBOINCTray" BinaryRef="boinccas_dll" DllEntry="LaunchBOINCTray"/>
    <CustomAction Id="CASaveSetupState" BinaryRef="boinccas_dll" DllEntry="SaveSetupState"/>
    <CustomAction Id="CASetBOINCDataProjects" Directory="PROJECTS" Value="[DATADIR]projects"/>
    <CustomAction Id="CASetBOINCDataSlots" Directory="SLOTS" Value="[DATADIR]slots"/>
  </Fragment>
</Wix>
